


    <!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/01-head')%>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/jpg" href="/images/img/fv.svg"/>
    </head>

   
    

    <body>

        

        

        <div class="container-fluid justify-content-center">     
            
            <div>

                <h3 class= "text-center mt-5 mb-3 titulobase">Base de datos fotográfica</h3>

            </div>


            <div class="contact-boxbase">
            
                <a href="/admin/cargaDatos" style="text-decoration: none;"><button type="submit" class="btnbase">Agregar Imagen</button></a>
                
                <a href="/" style="text-decoration: none;"><button type="submit" class="btnbase">Retornar al inicio</button></a>    
                
                <form action="/admin/imagenesAdmin/cerrarSesion" method="POST"><a href="/" style="text-decoration: none;"><button type="submit" class="btnbase">Cerrar sesion</button></a></form>

            </div>


            <div class="row p-5" style="font-size: 0.7rem;">
                <div class="col">

                    <table class="table table-responsive-lm  table-responsive-sm justify-content-center table-hover table-stripped table-bordered table-light " >
                        <thead class="bg-secondary text-black">

                            <form action="/admin/imagenesAdmin" method="post" class="contact-boxfiltro field area">

                               <select class ='btnbase btnfiltro' name="filtro">
                                    <option value="todas">TODAS</option>
                                    <option value="overview">OVERVIEW</option>
                                    <option value="paisajes">PAISAJES</option>
                                    <option value="retratos">RETRATOS</option>
                                    <option value="urbano">URBANO</option>
                                    <option value="analogicas">ANALOGICAS</option>
                                    <option value="infancia">INFANCIA</option>
                                    <option value="arquitectura"></option>
                                    <option value="producto">PRODUCTO</option>
                                    <option value="id(asc)">ID (ASC)</option>
                                    <option value="id(desc)">ID (DESC)</option>
                                    <option value="rating(asc)">RATING (ASC)</option>
                                    <option value="rating(desc)">RATING (DESC)</option>
                                    <option value="index(off)">INDEX (OFF)</option>
                                    <option value="lugar(a-z)">LUGAR (A-Z)</option>
                                    <option value="lugar(z-a)">LUGAR (Z-A)</option>
                                    <option value="vista(z-a)">VISTA (Z-A)</option>
                                </select>

                               <button class= "btnfiltro" type="submit"><i class="fas fa-filter"></i></button>
                            
                            </form>


                            <tr class="text-center thead-dark">
                                <th scope="col">id </th> 
                                <th scope="col">Nombre</th> 
                                <th class="tablacelu" scope="col">Descripcion</th>
                                <th class="tablacelu" scope="col">Rating</th>
                                <th class="tablacelu" scope="col">Index</th>
                                <th class="tablacelu" scope="col">Lugar</th>
                                <th scope="col">Imagen</th>
                                <th class="tablacelu" scope="col">Fecha</th>
                                <th scope="col">Vista</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>
                                
                            </tr>
                        </thead>           

                        <% for(let i = 0; i < imagenes.length; i++){ %>

                            <tbody data-aos="fade-up"
                            data-aos-duration="2000">
                                <tr class="mt-3" >
                                    <td><%= imagenes[i].id %></td>
                                    <td><%= imagenes[i].nombre %></td>
                                    <td class="tablacelu"><%= imagenes[i].descripcion %></td>
                                    <td class="tablacelu" ><%= imagenes[i].rating %></td>
                                    <td class="tablacelu" ><%= imagenes[i].checkindex %></td>
                                    <td class="tablacelu"><%= imagenes[i].lugar %></td>

                                    <td><a href="/images/<%= imagenes[i].ruta %>" data-lightbox="mygallery" data-title="<%= imagenes[i].nombre%> - <%= imagenes[i].lugar%>"><img src="/images/<%= imagenes[i].ruta %>" alt=""  class=" mx-auto d-block imglista"></a></td>

                                    <td class="text-center tablacelu"><%= imagenes[i].fecha %></td>
                                    <td class="text-center"><%= imagenes[i].view %></td>
                                    
                                    <td class="text-center"><a href="/admin/editarImagen/<%= imagenes[i].id %>" style="text-decoration: none;" class="btn4">Editar</a></td>

                                    <td class="text-center"><a href="/admin/eliminarImagen/<%= imagenes[i].id %>" style="text-decoration: none;"  class="btn4 ">Eliminar</a></td>

                                </tr>               
                            </tbody>
                        <% } %>
                        

                    </table>   

                </div>
            </div>

            <div class="contact-boxbase">
                <a href="/admin/cargaDatos" style="text-decoration: none;"><button type="submit" class="btnbase">Agregar Imagen</button></a>
                <a href="/" style="text-decoration: none;"><button type="submit" class="btnbase">Retornar al inicio</button></a>
                <form action="/admin/imagenesAdmin/cerrarSesion" method="POST"><a href="/" style="text-decoration: none;"><button type="submit" class="btnbase">Cerrar sesion</button></a></form>   
                 
    
            </div>



        </div>



        <br>
        <br>
        <br>
        <br>
        <br>

        <footer>
            <%- include('../partials/04-footer')%>
        </footer>






    </body>
    
</html>
